<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
   default-init-method = "init"
   default-destroy-method = "destroy">

   <bean id = "helloWorld" class = "com.prasenjit.spring.HelloWorld" scope = "singleton">
      <property name = "message" value = "Prasenjit is my name"/>
      <property name = "message1" value = "Prasenjit Malakar"/>
   </bean>
   <bean id = "helloIndia" class = "com.prasenjit.spring.HelloIndia" scope = "singleton"  parent = "helloWorld">
      <property name = "message" value = "Hello India!!"/>
      <property name = "message2" value = "Hi India!!"/>
   </bean>
<bean class = "com.prasenjit.spring.InitHelloWorld"/>
</beans>